.main {
  padding: 5rem 0;
  flex: 1 0 100;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.content {
  margin: 1rem 0 1rem 1.25rem;
}

.cards {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.searchNav {
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.filter {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
}

.filterNav {
  max-width: 100vw;
  overflow: auto;
  border-bottom: 1px solid black;
}

.focusImg {
  height: 80%;
  margin: auto 3rem;
}

.modalContent {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
}
